.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.login-page-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

